<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Reset password request</title>

  </head>
  <body>
    <section style="height: 100%;">

      <h2 style="color: black;">Hello {{name}}! </h2>

      <p style="color: black;">We recieved a request to reset the password for
        your account. Please click below link to reset password :
      </p>
      <p>{{link}}</p>

      <p style="color: black; ">If you did not initiate this then please ignore.</p>

    </section>
  </body>
</html>